<% if logged_in? %>
	<%= link_to "Sign out", signout_path, method: "delete" %>
<% else %>
	<%= link_to "Sign in", signin_path %>
<% end %>

<h1> Members Only Posts </h1>

<% @posts.each do |post| %>
  <% if logged_in? %>
    <p>
      Posted by:
      <%= post.user.name %>
    </p>
  <% end %>
  <h4><%= post.title %></h4>  
  <p><%= post.body %></p>
<% end %>

<% if logged_in? %>
  <%= link_to "Create a Post", new_post_path %>
<% end %>

